<?xml version="1.0"?>
<launch>
  <arg name="config" default="julie"/>
  
  <!-- Hardware interface:  -->
  <node name="roland_robot_hardware" pkg="julie_control" type="julie_hardware_interface_node" />

  <!-- Robot Description:  -->
  <include file="$(find julie_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>

</launch>
