<?xml version="1.0"?>
<launch>

  <arg name="map" default="$(find julie_worlds)/maps/enac_outdoor_south_east.yaml" />
  
  <!--  ****** Maps *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" output="screen">
    <param name="frame_id" value="/map"/>
  </node>


 <!-- -->
  <node name="map_to_odom_publisher" pkg="tf" type="static_transform_publisher"
        args="0 0 0  0 0 0 map odom 100"/>
  <!-- -->

</launch>
