<?xml version="1.0"?>
<robot name="julie" xmlns:xacro="http://www.ros.org/wiki/xacro">



  <xacro:macro name="julie_base" params="name hq">


    <!-- BASE FOOTPRINT -->
    <link name="base_footprint">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.001 0.001 0.001" />
        </geometry>
      </visual>
    </link>
    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 ${ground_clearance}" rpy="0 0 0" />  <!-- height is the clearance -->
      <parent link="base_footprint"/>
      <child link="base_link" />
    </joint>

    <!-- BASE_LINK -->
    <link name="base_link">
      <inertial>
	<mass value="125.0" />
	<origin xyz="${cg_to_back_axle} 0 0" />
	<inertia  ixx="1.391" ixy="0.004"  ixz="0.0"  iyy="6.853"  iyz="0.0"  izz="6.125" />
      </inertial>
      <visual>
	<origin xyz="${cg_to_back_axle} 0 0" rpy="0 0 0" />
	<xacro:if value="${hq}">
          <geometry>
            <mesh filename="package://julie_description/meshes/chassis.dae"/>
          </geometry>
	</xacro:if>
	<xacro:unless value="${hq}">
          <geometry>
            <mesh filename="package://julie_description/meshes/chassis.dae"/>
          </geometry>
	</xacro:unless>
	<material name="darkgrey">
          <color rgba="0.1 0.1 0.1 1"/>
	</material>
      </visual>
      <collision>
	<origin xyz="${cg_to_back_axle} 0 0" rpy="0 0 0 " />
	<geometry>
          <mesh filename="package://julie_description/meshes/chassis.dae"/>
	</geometry>
      </collision>
    </link>
    
  </xacro:macro>
</robot>
