<?xml version="1.0"?>
<!--
   This is a new version of the car
   I am trying to clean the old one
-->
<robot name="julie" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Configuration -->
  <xacro:property name="chassis_length"        value="2.4" />
  <xacro:property name="chassis_width"         value="1.1" />
  <xacro:property name="chassis_height"        value="1.2" />
  <xacro:property name="chassis_mass"          value="200" />
  <xacro:property name="chassis_vert_offset"   value="0.6" />
  <xacro:property name="chassis_horiz_offset"  value="0.5" />
  <xacro:property name="chassis_hq_visual"     value="true" />
  <!-- wheels -->
  <xacro:property name="wheel_axle_length" value="0.120"/>
  <xacro:property name="tire_width" value="0.2"/>
  <xacro:property name="hex_hub_depth" value="0.120"/>
  <xacro:property name="tire_dia" value="0.470"/>
  <xacro:property name="hub_dia" value="0.235"/>
  <xacro:property name="wheelbase" value="1.650"/>
  <xacro:property name="hex_hub_dist" value="0.900"/>
  <xacro:property name="wheel_travel" value="0.1"/>
  <xacro:property name="shock_z_offset" value="0.05"/>
  <xacro:property name="wheel_mass" value="8.0"/>
  <xacro:property name="shock_eff_limit" value="100"/>
  <xacro:property name="shock_vel_limit" value="1000"/>
  <xacro:property name="suspension_joint_damping" value="0.2" />
  <xacro:property name="suspension_joint_friction" value="0.7" />
    
  <xacro:property name="wheel_axle_eff_limit"  value="204.95"/>
  <xacro:property name="wheel_axle_vel_limit"  value="39.02"/>

  <xacro:property name="wheel_joint_damping"   value="0.01" />
  <xacro:property name="wheel_joint_friction"  value="0.01" />
  <xacro:property name="wheel_hq_visual"       value="true" />



  
  <!-- Constants -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <!-- Degree-to-radian conversions -->
  <xacro:property name="degrees_45"  value="${PI/4.}"/>
  <xacro:property name="degrees_90"  value="${PI/2.}"/>
  <xacro:property name="degrees_180" value="${PI}"/>
  
  <!-- Import Macros -->
  <xacro:include filename="$(find julie_description)/urdf/julie_inertias.urdf.xacro" />
  <xacro:include filename="$(find julie_description)/urdf/julie_materials.urdf" />
  <xacro:include filename="$(find julie_description)/urdf/julie_chassis.urdf.xacro" />
  <xacro:include filename="$(find julie_description)/urdf/julie_wheels.urdf.xacro" />

  <!-- Describe the Robot -->
  <link name="base_link"/>
  <xacro:julie_chassis />

  <xacro:rear_wheel lr_prefix="left" fr_prefix="rear"
                    lr_reflect="1" fr_reflect="-1"/>
  <xacro:rear_wheel lr_prefix="right" fr_prefix="rear"
                    lr_reflect="-1" fr_reflect="-1"/>
  
</robot>
