<?xml version="1.0"?>
<robot name="julie" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro defining the body of the car -->
  
  <xacro:macro name="julie_chassis">

    <!-- Chassis -->
    <link name="chassis_link">
      <visual>
        <xacro:if value="${chassis_hq_visual}">
	  <origin xyz="0.33 0 -0.6" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://julie_description/meshes/chassis.dae"/>
          </geometry>
        </xacro:if>
        <xacro:unless value="${chassis_hq_visual}">
	  <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
          </geometry>
          <material name="transp_blue" />
        </xacro:unless>
      </visual>
      <collision>
	<origin xyz="0 0 0"/>
	<geometry>
          <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
	</geometry>
      </collision>
      <xacro:inertial_cuboid_with_pose mass="${chassis_mass}" x_length="${chassis_length}" y_length="${chassis_width}" z_length="${chassis_height}">
	<origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_cuboid_with_pose>
    </link>

    
    <joint name="chassis_joint" type="fixed">
      <origin xyz="${chassis_horiz_offset} 0 ${chassis_vert_offset}" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="chassis_link" />
    </joint>
    

  </xacro:macro>

</robot>
