<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ros control plugin -->
  <xacro:macro name="ros_control">
    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/julie</robotNamespace>
        <robotParam>robot_description</robotParam>
        <controlPeriod>0.001</controlPeriod>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin>

      <plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
	<alwayson>true</alwayson>
	<updaterate>1.0</updaterate>
	<bodyname>base_link</bodyname>
	<topicname>/fix</topicname>
	<velocitytopicname>/fix_velocity</velocitytopicname>
	<drift>5.0 5.0 5.0</drift>
	<gaussiannoise>0.1 0.1 0.1</gaussiannoise>
	<velocitydrift>0 0 0</velocitydrift>
	<velocitygaussiannoise>0.1 0.1 0.1</velocitygaussiannoise>
	<referenceLatitude>${nav_ref['lat']}</referenceLatitude>
	<referenceLongitude>${nav_ref['lon']}</referenceLongitude>
	<referenceHeading>${nav_ref['heading']}</referenceHeading>
	<referenceAltitude>${nav_ref['alt']}</referenceAltitude>
      </plugin>
      
      <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
	<frameName>map</frameName>
	<bodyName>base_link</bodyName>
	<topicName>julie_gazebo/base_link_truth</topicName>
	<updateRate>30.0</updateRate>
      </plugin>

    </gazebo>
  </xacro:macro>

  <!-- No Ackermann steering plugin -->

  <gazebo reference="base_footprint">
    <material>Gazebo/Green</material>
  </gazebo>


</robot>
