<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ros control plugin -->
  <xacro:macro name="ros_control">
    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/julie</robotNamespace>
        <robotParam>robot_description</robotParam>
        <controlPeriod>0.001</controlPeriod>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> 
        <!--<controlPeriod>0.01</controlPeriod>-->
	<!--<robotSimType>julie_hardware_gazebo/JulieHardwareInterface</robotSimType>-->
      </plugin>

      <plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
	<updateRate>4.</updateRate>
	<bodyName>base_link</bodyName>
	<frameId>GNSS</frameId>
	<topicName>/ublox_gps/fix</topicName>
	<velocityTopicName>/ublox_gps/fix_velocity</velocityTopicName>
	<referenceLatitude>${nav_ref['lat']}</referenceLatitude>
	<referenceLongitude>${nav_ref['lon']}</referenceLongitude>
	<referenceHeading>${nav_ref['heading']}</referenceHeading>
	<referenceAltitude>${nav_ref['alt']}</referenceAltitude>
	<offset>0.0 0.0 0.0</offset>
	<drift>0.0 0.0 0.0</drift>
	<driftFrequency>0. 0. 0.</driftFrequency>
	<gaussianNoise>0. 0. 0.</gaussianNoise>
	<velocityDrift>0 0 0</velocityDrift>
	<velocityDriftFrequency>0. 0. 0.</velocityDriftFrequency>
	<velocityGaussianNoise>0. 0. 0.</velocityGaussianNoise>
      </plugin>
      
      <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
	<frameName>map</frameName>
	<bodyName>base_link</bodyName>
	<topicName>julie_gazebo/base_link_truth</topicName>
	<updateRate>30.0</updateRate>
      </plugin>

    </gazebo>
  </xacro:macro>

  <!-- No Ackermann steering plugin -->

  <gazebo reference="base_footprint">
    <material>Gazebo/Green</material>
  </gazebo>


</robot>
