<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="robot_model" default="julie"/>
  <arg name="robot_initial_loc" default="-x 0 -y 0 -z 1"/>
  
  <!-- gazebo_control launch file -->
  <include file="$(find julie_gazebo)/launch/control.launch" />
  
  <!-- start gazebo simulation -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
      <param name="robot_description"
       command="$(find xacro)/xacro --inorder '$(find julie_description)/urdf/$(arg robot_model).urdf'" />
  
  <!--  spawn the robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model julie -param robot_description $(arg robot_initial_loc)"/>
  
  <!-- start robot_control node -->
  <include file="$(find julie_gazebo_ackermann_controller)/launch/julie_gazebo_ackermann_controller.launch"/>
  <!-- initialize odometry -->
  <!-- <node pkg="rosservice" type="rosservice" name="initialize_odometry" args="call \-\-wait /julie_gazebo_ackermann_controller/set_odometry 14 4 1 0"/> -->
  
  <!-- start joystick -->
  <!-- <include file="$(find rbcar_joystick)/launch/rbcar_joystick.launch"/> -->

</launch>
