<?xml version="1.0"?>
<launch>
  <arg name="robot_model" default="julie"/> 
  <arg name="world_name" default="enac_outdoor_full.world"/>
  
  <include file="$(find julie_gazebo_bringup)/launch/julie_empty_world.launch">
    <arg name="world_name" value="$(find julie_gazebo)/worlds/$(arg world_name)"/>
    <arg name="robot_model" value="$(arg robot_model)"/>
  </include>

</launch>

