<?xml version="1.0"?>
<launch>
  <arg name="robot_model" default="julie_1"/>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find julie_gazebo)/config/control_$(arg robot_model).yaml" command="load"/>
  <!-- load the controllers -->
  <arg name="new_ctl" default="false"/>
  <group unless="$(arg new_ctl)">
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	  output="screen" ns="/julie" args="--namespace=/julie
					    left_front_shock_controller
					    left_steering_joint_controller
					    left_front_axle_controller
					    right_front_shock_controller
					    right_steering_joint_controller
					    right_front_axle_controller
					    left_rear_shock_controller
					    left_rear_axle_controller
					    right_rear_shock_controller
					    right_rear_axle_controller
					    joint_read_state_controller
					    "/>
  </group>
  <group if="$(arg new_ctl)">
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/julie" args="--namespace=/julie
					    left_front_shock_controller
					    left_front_axle_controller
					    right_front_shock_controller
					    right_front_axle_controller
					    left_rear_shock_controller
					    left_rear_axle_controller
					    right_rear_shock_controller
					    right_rear_axle_controller
					    joint_read_state_controller
					    julie_ackermann_controller
					    "/>
  </group>
  
  <!-- once the joint_state is published, run the robot_state_publisher, the namespace has to be adapted --> 
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/julie/joint_states" />
  </node>

  
</launch>
